/*NAVBAR*/
.navbar {
  background-color: #2a292b;
  color: #0b60b0 !important;
}

.nav-item {
  padding: 5px 35px 5px 35px;
}

.nav-link:hover {
  color: #0b60b0 !important;
}

.navbar ul li a {
  font-size: 20px;
  color: #16ff00;
  text-align: center !important;
}

.navbar-toggler {
  font-size: 15px !important;
  background-color: #16ff00 !important;

  
}

/*banner*/
.banner {
  background-color: #000000;
  /* background: rgb(11,96,176);
  background: linear-gradient(90deg, rgba(11,96,176,1) 0%, rgba(0,0,0,1) 100%, rgba(64,162,216,1) 100%); */
  padding: 100px 10px 0 10px;
  margin-bottom: -100px;
}

.banner-text {
  font-weight: 400;
  font-size: 2em;
  color: #e2e2e9;
  text-align: center;
  padding-top: 100px;
  font-family: "Satisfy", cursive;
  font-style: normal;
}

.banner-text h1 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 60px;
  color: #e8e8f2;
}

.banner-text h1 span {
  font-weight: 800;
  font-size: 130px;
  color: #16ff00;
}

.ul-social {
  text-align: center;
  padding-left: 0;
}

.social:hover {
  color: red;
}

.li-social-links {
  display: inline-block;
  list-style: none;
}

.social {
  font-size: 40px;
  color: #16ff00;
  padding: 20px;
}

#down-arrow {
  margin-top: auto;
  text-align: center;
  margin-bottom: 100px !important;
}

#down-arrow a {
  color: rgb(4, 2, 2);
  font-size: 46px;
}

.abtp {
  background-color: #2a292b;
  padding-bottom: 50px;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 70px;
  background-color: #121214 !important;
  color: white !important;
  margin-top: 50px;
}
.card h2 {
  font-size: 50px;
  font-family: "Quicksand", sans-serif;
}

.card p {
  font-size: 25px;
  font-family: "Quicksand", sans-serif;
}

/* def */

.banner20 {
  background-color: #000000 !important;
}

/* SERVICES CARDM */

.cardm {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 50px;
  margin-bottom: 30px;
  text-align: center;
  background-color: #121214;
  color: #16ff00;
}

.cardm:hover {
  color: #121111 !important;
  background-color: #105809;
  transition: 0.9s;
}

.cardm h3 {
  font-size: 28px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
  color: rgb(241, 22, 22);
  padding: 20px;
  text-align: center;
}

.cardm p {
  font-size: 20px;
  color: black;
  color: white;
}

/* SERVICES CARDM ICON */
.bi-gitlab {
  font-size: 60px;
}

.bi-gift-fill {
  font-size: 60px;
}

.bi-incognito {
  font-size: 60px;
}

.bi-chat-dots {
  font-size: 60px;
}

.bi-send-fill {
  font-size: 60px;
}

.bi-voicemail {
  font-size: 60px;
}

/* ICON END */

/* 4000 */

.banner3 {
  background-color: #2a292b;
  text-align: center;
}

.banner3 h2 {
  margin-top: 160px;
  color: #0f6292;
  font-size: 55px;
  font-family: "Satisfy", cursive;
  font-style: normal;
}

.banner3 p {
  color: #16ff00;
  font-size: 32px;
  font-family: "Satisfy", cursive;
  font-style: normal;
}

.banner3 img {
  padding: 100px;
}



.bannerskills{

  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  background-color: bisque;
  padding-top: 40px;
  
}


/* footer */

.ftr{
  background-color: #000000 !important;

}

.ftrh{
  color: #0b60b0;
  font-size: 20px !important;

}













/* MEDIA Q */

@media only screen and (max-width: 1000px) {
  .cardm {
    padding: 34px;
    font-size: 20px !important;
  }

  .banner3 h2 {
    font-size: 45px;
  }

  .banner3 p {
    font-size: 20px;
  }

  .banner3 img {
    width: 100% !important;
  }

  .dp {
    margin-top: 150px;
  }
}
